.button {
  color: #ffffff;
  font-weight: 700;

  cursor: pointer;
  display: inline-block;
  line-height: 1;

  border: 0;
  border-radius: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.button--primary {
  background-color: #ff3b3a;
}

.button--secondary {
  background-color: rgba(17, 24, 39, 1);
}

.button--disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.loader {
  border: 0.125rem solid #f3f3f3; /* Light grey */
  border-top: 0.125rem solid #3498db; /* Blue */
  border-right: 0.125rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
