.button {
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  border: 0;
  border-radius: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.button--primary {
  background-color: #ff3b3a;
}

.button--secondary {
  background-color: rgba(17, 24, 39, 1);
}

.button--disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.loader {
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

.loader--xs, .loader--sm {
  border: 0.25rem solid #f3f3f3; /* Light grey */
  border-top: 0.25rem solid #3498db; /* Blue */
  border-right: 0.25rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
}

.loader--base, .loader--lg, .loader--xl {
  border: 0.25rem solid #f3f3f3; /* Light grey */
  border-top: 0.25rem solid #3498db; /* Blue */
  border-right: 0.25rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.loader--2xl, .loader--3xl, .loader--4xl {
  border: 0.25rem solid #f3f3f3; /* Light grey */
  border-top: 0.25rem solid #3498db; /* Blue */
  border-right: 0.25rem solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
