.textarea {
    width: 100%;
    max-width: 100%;

    border-radius: 0.5rem;
    padding: 1.25rem;

    color: black;
}
.textarea--outlined {
    border: 0.1em solid gray;
}
.textarea--filled {
    border: 0.1em solid #eeeeee;
    border-bottom: 0.1em solid gray;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #eeeeee;
}
.textarea:focus {
    outline: none !important;
    border: 0.25em solid #1E88E5;
}

.textarea:invalid {
    outline: none !important;
    border: 0.25em solid red;
}