header {
  z-index: 5;
  width: 100%;
}

.wrapper {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 800px;
  background-color: transparent;
}

.title {
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
}

.header {
  min-width: 60%;
  justify-content: right;
  justify-items: right;
  text-align: end;
}

.logoAndTitle {
  justify-content: space-between;
  display: flex;
}

.logoAndTitle > img {
  width:auto;
  height:100%;
  margin-top: auto;
  margin-bottom: auto;
}

.logoAndTitleWrapper {
  display:"block";
  justify-content: left;
}

.header > a > p {
  display: inline;
}

.header > a > p:hover {
  color: red !important;
  transition: 0.3s;
}

.header > a + a {
  margin-left: 30px;
}
