.footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    min-height: 24rem;
    background-color: rgb(237, 237, 237);
    padding: 46px 10vw;
    flex-wrap: wrap;
}

.columnWrapper {
    justify-content: space-between;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.linksWrapper {
    min-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerLogoAndTitle {
    display: flex;
    vertical-align: middle;
}

.footerLogo {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.footerLink {
    display: block;
    padding: 2px 0px;
}