.banner--wrapper {
    padding:0px;
    width:100vw;
    overflow-x: hidden;
    height:100vh;
    display:flex;
    justify-content: center;
    justify-items:center;
    position:relative;
    object-fit: cover;
}

.banner--backgroundImage {
    min-width: 100vw;
    justify-content:center;
    justify-items:center;
    overflow:hidden;
    filter:brightness(50%);
    object-fit:cover;
}

.banner--title {
    position:absolute;
    z-index: 2;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner--subheader {
    z-index: 2;
    display:flex;
    background-color: rgb(237, 237, 237);
    position:absolute;
    bottom:0;
    width:100%;
    min-height:10%;
    justify-content: center;
    justify-items: center;
    text-align:center;
    align-items:center;
    overflow: auto;
    padding:20px;
}